<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class = 'form-control', placeholder = "Enter Email Here") }}
        </fieldset>
        <fieldset id="fname-field">
            {{ form.first_name.label }}
            {{ form.first_name(class = 'form-control', placeholder = "Enter First Name Here") }}
        </fieldset>
        <fieldset id="lname-field">
            {{ form.last_name.label }}
            {{ form.last_name(class = 'form-control', placeholder = "Enter Last Name Here") }}
        </fieldset>
        <fieldset id="pass-field">
            {{ form.password.label }}
            {{ form.password(class = 'form-control', placeholder = "Enter Password Here") }}
        </fieldset>
        {{ form.submit_button(class = "btn btn-primary") }}
    </div>
</form>